/*Let's make sure that the dimensions of any box includes its border and padding, this gives us an easy way of sizing our elements*/
* {
  box-sizing: border-box;
}

.container > img {
  max-width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4px;
  align-items: center;
}
